---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import { Button } from '$lib/components/ui/button';
---

<Layout>
	<div class="flex flex-row gap-4 h-min w-max items-center">
		<p>skibidi</p>
		<Button variant="default" size='default' href={"https://youtube.com/"} target={'_blank'}>Hello diggas</Button>
	</div>
</Layout>
