<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>VejasOS</title>
	</head>
	<body class="">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: ;
		width: 100%;
		height: 100%;
		background-image: url(https://images.squarespace-cdn.com/content/v1/5a2537ab1f318dcca23b2a9a/1539264502143-E7IKTIFYHQNOT0HMTGXO/Top+25+photos+made+in+Luxembourg+-+Pink+and+orange+sunset+over+Luxembourg+City+during+fall+-+Crimson+Twilight+-+Photography+by+Christophe+Van+Biesen+-+Luxembourg+Landscape+and+Travel+Photographer.jpg?format=2500w);
		background-size: cover;
	}
</style>
